form.signup,
form.login {
  margin-top: 50px;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 1px;
  background-color: cornsilk;
}

img {
  height: 275px;
}

body {
  background-image: url("background.jpg");
  background-size: cover;
}

p {
  color: aliceblue;
}

h1 {
  color: aliceblue;
}

.btn-outline-secondary {
  display: inline-block;
    width: 53px;
    height: 26px;
    background: #f1f1f1;
    border-radius: 30%;
    color: #3498bd;
    overflow: hidden;
    position: relative;
}

.container {
  /* width: 100px;
  height: 100px; */
  /* display: flex; */
  /* position: relative; */
}